:root {
    // --dark-purple: #1e1431;

    // --color: #243746;
    // --color-primary: #158876;
    // --color-secondary: #0e2233;
    // --bg: #f3f5f4;
    // --bg-secondary: #fff;
    // --border-color: #ddd;

    // --title-size: 2.5rem;
    // --subtitle-size: 2rem;



    --white: #fff;
    --light-gray: #f6f7f8;
    --black: #000;
    --black-blue: #1D1D25;
    --blackish-blue: #13131D;
    --purple: #8B00FF;
    --light-purple: #a841ff;

    --font-size: 18px;
    --title-size: 2.5rem;
    --subtitle-size: 2rem;
    --third-title-size: 1.5rem;

    --z-index-header: 30;
    --z-index-modal: 50;
}